<div class="section">
  <h3>Популярные подкасты</h3>
  <ul clas="podcast-list">
    <% @popular_episodes.each do |episode| %>
      <li class="episode episode_elem">
        <img src="<%= episode.public_image.url(:thumb) %>" class="episode__img"/>
        <p class="episode__title"><%= episode.title %></p>
      </li>
    <% end %>
  </ul>
</div>
<div class="section">
  <h3>Новые подкасты</h3>
  <ul clas="podcast-list">
    <% @last_episodes.each do |episode| %>
        <li class="episode episode_elem">
          <img src="<%= episode.public_image.url(:thumb) %>" class="episode__img"/>
          <p class="episode__title"><%= episode.title %></p>
        </li>
    <% end %>
  </ul>
</div>
<div class="section"></div>